.headerBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.links {
    margin-right: 38%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

.link {
    display: block;
    color: rgba(35, 33, 52, 1);
    text-decoration: none;
}

.currentLink {
    color: rgba(94, 150, 252, 1);
}

.link:active {
    color: rgba(94, 150, 252, 1);
}

.link:hover {
    color: rgba(94, 150, 252, 1);
}

@media screen and (max-width: 946px) {
    .links {
        width: 50%;
        margin-right: 13%;
    }
}

.burgerIcon {
    transform: rotate(90deg);
}

@media screen and (max-width: 512px) {
    .links {
        width: 2px;
    }
}


